/*
.skin-blue .main-header .navbar {
  background-color: #3e3f3a;
}

.skin-blue .main-header .logo {
  background-color: #3e3f3a;
}

.skin-blue .main-header .logo:hover {
  background-color: #3e3f3a;
}


.skin-blue .left-side, .skin-blue .main-sidebar, .skin-blue .wrapper {
    background-color: #f8f5f0;
}

.content-wrapper, .right-side {
    background-color: #ffffff;
}

.shinyhelper-container {
  position: absolute;
  display: inline-block;
}
*/

/* Controls space under inputs to provide space for label when wrapping */
.form-group {
  margin-bottom: 20px;
}

.shiny-output-error-validation {
  color: #1c3e75;
  font-weight: normal;
  font-size: 1.18em;
}

#sthd_image {
  display:inline-block;
  text-align: center;
}

#wria_text {
  text-align: center;
  font-size: 0.9em;
  font-weight: bold;
}

#map_text {
  text-align: center;
  font-size: 0.9em;
  font-weight: bold;
}

#map_modal_button .btn-primary {
  color: #e6ebef;
  background-color:#4d1566;
  font-size: 12px;
  width: 100%;
  height: 28px;
}

#year_text {
  text-align: center;
  font-size: 0.9em;
  font-weight: bold;
}

#survey_add {
  color: #e6ebef;
  background-color:#231651;
  font-size: 11px;
  font-weight: 300;
  line-height: 1.3;
}

#comment_add {
  color: #e6ebef;
  background-color:#231651;
  font-size: 11px;
  font-weight: 300;
  line-height: 1.3;
}

#intent_add {
  color: #e6ebef;
  background-color:#231651;
  font-size: 11px;
  font-weight: 300;
  line-height: 1.3;
}

#survey_edit {
  color: #e6ebef;
  background-color:#4d1566;
  font-size: 11px;
  font-weight: 300;
  line-height: 1.3;
}

#comment_edit {
  color: #e6ebef;
  background-color:#4d1566;
  font-size: 11px;
  font-weight: 300;
  line-height: 1.3;
}

#intent_edit {
  color: #e6ebef;
  background-color:#4d1566;
  font-size: 11px;
  font-weight: 300;
  line-height: 1.3;
}

#survey_delete {
  color: #e6ebef;
  background-color:#590b25;
  font-size: 11px;
  font-weight: 300;
  line-height: 1.3;
}

#comment_delete {
  color: #e6ebef;
  background-color:#590b25;
  font-size: 11px;
  font-weight: 300;
  line-height: 1.3;
}

#intent_delete {
  color: #e6ebef;
  background-color:#590b25;
  font-size: 11px;
  font-weight: 300;
  line-height: 1.3;
}

.shiny-input-container {
  display: inline-block;
  vertical-align:top;
  min-height: 28px;
  height: 28px;
  font-size: 11px;
  line-height: 1.0;
}

.container-fluid {
  width: 100%;
}

.box-title {
  font-size: 14px;
  color: #33079a;
}

.collapsed {
  color: #881f8e;
}

/*

#accordian .a {
  color: #b6a4bf;
}
*/

.form-control {
  font-size: 11px;
  height: 26px;
  padding: 4px 4px;
}

.selectize-input {
  min-height: 26px;
  height: 26px;             /* keep: Sets consistent height across inputs...but hides multi-selections */
  font-size: 11px;
  vertical-align: middle;
  padding-top: 3px;         /* keep: This does the trick in centering vertically */
}

#start_time_select {
  display: inline-block;
  vertical-align:top;
  min-height: 28px;
  height: 28px;
  font-size: 11px;
  line-height: 1.0;
}

#end_time_select {
  display: inline-block;
  vertical-align:top;
  min-height: 28px;
  height: 28px;
  font-size: 11px;
  line-height: 1.0;
}

.dataTables_wrapper {
  width: 100%;
  font-size: 11px;
  line-height: 0.9;
}

#survey_insert_modal .modal-lg {
  width: 1200px;
}

#survey_insert_modal .modal-content {
  border-radius: 6px;
}

#survey_insert_modal .modal-header {
  background-color: #becc4a;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}

#survey_insert_modal .modal-body {
  background-color: #ffffff;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  font-size: 14px;
  font-weight: bold;
}

#survey_insert_modal .modal-title {
  font-size: 15px;
  font-weight: bold;
  color: #191c13;
}

#survey_insert_modal .btn-default {
  color: #e6ebef;
  background-color:#231651;
  font-size: 11px;
  font-weight: 300;
  line-height: 1.3;
}

#survey_update_modal .modal-lg {
  width: 1200px;
}

#survey_update_modal .modal-content {
  border-radius: 6px;
}

#survey_update_modal .modal-header {
  background-color: #becc4a;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}

#survey_update_modal .modal-body {
  background-color: #ffffff;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  font-size: 14px;
  font-weight: bold;
}

#survey_update_modal .modal-title {
  font-size: 15px;
  font-weight: bold;
  color: #191c13;
}

#survey_update_modal .btn-default {
  color: #e6ebef;
  background-color:#4d1566;
  font-size: 11px;
  font-weight: 300;
  line-height: 1.3;
}

#survey_delete_modal .modal-lg {
  width: 1200px;
}

#survey_delete_modal .modal-content {
  border-radius: 6px;
}

#survey_delete_modal .modal-header {
  background-color: #becc4a;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}

#survey_delete_modal .modal-body {
  background-color: #ffffff;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  font-size: 14px;
  font-weight: bold;
}

#survey_delete_modal .modal-title {
  font-size: 15px;
  font-weight: bold;
  color: #191c13;
}

#survey_delete_modal .btn-default {
  color: #e6ebef;
  background-color:#590b25;
  font-size: 11px;
  font-weight: 300;
  line-height: 1.3;
}

#survey_comment_insert_modal .modal-lg {
  width: 1200px;
}

#survey_comment_insert_modal .modal-content {
  border-radius: 6px;
}

#survey_comment_insert_modal .modal-header {
  background-color: #becc4a;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}

#survey_comment_insert_modal .modal-body {
  background-color: #ffffff;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  font-size: 14px;
  font-weight: bold;
}

#survey_comment_insert_modal .modal-title {
  font-size: 15px;
  font-weight: bold;
  color: #191c13;
}

#survey_comment_insert_modal .btn-default {
  color: #e6ebef;
  background-color:#590b25;
  font-size: 11px;
  font-weight: 300;
  line-height: 1.3;
}

#survey_comment_update_modal .modal-lg {
  width: 1200px;
}

#survey_comment_update_modal .modal-content {
  border-radius: 6px;
}

#survey_comment_update_modal .modal-header {
  background-color: #becc4a;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}

#survey_comment_update_modal .modal-body {
  background-color: #ffffff;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  font-size: 14px;
  font-weight: bold;
}

#survey_comment_update_modal .modal-title {
  font-size: 15px;
  font-weight: bold;
  color: #191c13;
}

#survey_comment_update_modal .btn-default {
  color: #e6ebef;
  background-color:#4d1566;
  font-size: 11px;
  font-weight: 300;
  line-height: 1.3;
}

#survey_comment_delete_modal .modal-lg {
  width: 1200px;
}

#survey_comment_delete_modal .modal-content {
  border-radius: 6px;
}

#survey_comment_delete_modal .modal-header {
  background-color: #becc4a;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}

#survey_comment_delete_modal .modal-body {
  background-color: #ffffff;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  font-size: 14px;
  font-weight: bold;
}

#survey_comment_delete_modal .modal-title {
  font-size: 15px;
  font-weight: bold;
  color: #191c13;
}

#survey_comment_delete_modal .btn-default {
  color: #e6ebef;
  background-color:#590b25;
  font-size: 11px;
  font-weight: 300;
  line-height: 1.3;
}

#survey_intent_insert_modal .modal-lg {
  width: 700px;
}

#survey_intent_insert_modal .modal-content {
  border-radius: 6px;
}

#survey_intent_insert_modal .modal-header {
  background-color: #becc4a;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}

#survey_intent_insert_modal .modal-body {
  background-color: #ffffff;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  font-size: 14px;
  font-weight: bold;
}

#survey_intent_insert_modal .modal-title {
  font-size: 15px;
  font-weight: bold;
  color: #191c13;
}

#survey_intent_insert_modal .btn-default {
  color: #e6ebef;
  background-color:#231651;
  font-size: 11px;
  font-weight: 300;
  line-height: 1.3;
}

#survey_intent_delete_modal .modal-lg {
  width: 700px;
}

#survey_intent_delete_modal .modal-content {
  border-radius: 6px;
}

#survey_intent_delete_modal .modal-header {
  background-color: #becc4a;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}

#survey_intent_delete_modal .modal-body {
  background-color: #ffffff;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  font-size: 14px;
  font-weight: bold;
}

#survey_intent_delete_modal .modal-title {
  font-size: 15px;
  font-weight: bold;
  color: #191c13;
}

#survey_intent_delete_modal .btn-default {
  color: #e6ebef;
  background-color:#590b25;
  font-size: 11px;
  font-weight: 300;
  line-height: 1.3;
}

#rmd_about {
  font-size: 14px;
  line-height: 1.1;
}

#rmd_credits {
  font-size: 12px;
  line-height: 1.1;
}





