.container-fluid {
  width: 90%;
  font-size: 11px;
  line-height: 0.9;
}

.shiny-output-error-validation {
  color: #1c3e75;
  font-weight: normal;
  font-size: 1.18em;
}

#show_map_select .btn-primary {
  font-size: 9px;
  font-weight: 300;
  line-height: 1.1;
  text-align: center;
  width: 100%;
  display: flex; align-items: center; justify-content: center;
}

#show_header_input .btn-primary {
  font-size: 9px;
  font-weight: 300;
  line-height: 1.1;
  text-align: center;
  width: 100%;
  display: flex; align-items: center; justify-content: center;
}

#show_species_input .btn-primary {
  font-size: 9px;
  font-weight: 300;
  line-height: 1.1;
  text-align: center;
  width: 100%;
  display: flex; align-items: center; justify-content: center;
}

#toggle_sidebar {
  color: #e6ebef;
  background-color:#325D88;
  font-size: 9px;
  font-weight: 300;
  line-height: 1.1;
}

#toggle_sidebar, .space-right {
  margin-right: 0px;
}

#sthd_image {
  display:inline-block;
  text-align: center;
}

#filter_text {
  text-align: center;
  font-size: 1.4em;
  font-weight: bold;
  color: #163463;
}

#wria_text {
  text-align: center;
  font-size: 1.2em;
  font-weight: bold;
}

#show_map_stream {
  color: #e6ebef;
  background-color:#4d1566;
  font-size: 9px;
  font-weight: 300;
  line-height: 1.1;
}

#year_text {
  text-align: center;
  font-size: 1.2em;
  font-weight: bold;
}

#year_type {
  position: relative;
  padding-left: 20px;
  margin-bottom: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.42857143;
  vertical-align: middle;
  display: flex; align-items: center; justify-content: center;
  cursor: pointer;
}

#header_add {
  color: #e6ebef;
  background-color:#231651;
  font-size: 9px;
  font-weight: 300;
  line-height: 1.1;
}

#header_edit {
  color: #e6ebef;
  background-color:#4d1566;
  font-size: 9px;
  font-weight: 300;
  line-height: 1.1;
}

#header_delete {
  color: #e6ebef;
  background-color:#590b25;
  font-size: 9px;
  font-weight: 300;
  line-height: 1.1;
}

.shiny-input-container {
  display: inline-block;
  vertical-align:top;
  height: 28px;
}

.container-fluid {
  width: 100%;
}

.form-control {
  font-size: 12px;
  height: 28px;
}

.selectize-input {
  min-height: 28px;
  height: 28px;
  padding-top: 3px;
  padding-bottom: 0;
  margin-bottom: 0;
}

#insert_modal .modal-header {
  background-color: #becc4a;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}

#insert_modal .modal-body {
  background-color: #ffffff;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  font-size: 14px;
  font-weight: bold;
}

#insert_modal .modal-title {
  font-size: 15px;
  font-weight: bold;
  color: #191c13;
}

#insert_modal .btn-default {
  color: #e6ebef;
  background-color:#231651;
  font-size: 9px;
  font-weight: 300;
  line-height: 1.1;
}

#update_modal .modal-header {
  background-color: #becc4a;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}

#update_modal .modal-body {
  background-color: #ffffff;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  font-size: 14px;
  font-weight: bold;
}

#update_modal .modal-title {
  font-size: 15px;
  font-weight: bold;
  color: #191c13;
}

#update_modal .btn-default {
  color: #e6ebef;
  background-color:#4d1566;
  font-size: 9px;
  font-weight: 300;
  line-height: 1.1;
}

#delete_modal .modal-header {
  background-color: #becc4a;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}

#delete_modal .modal-body {
  background-color: #ffffff;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  font-size: 14px;
  font-weight: bold;
}

#delete_modal .modal-title {
  font-size: 15px;
  font-weight: bold;
  color: #191c13;
}

#delete_modal .btn-default {
  color: #e6ebef;
  background-color:#590b25;
  font-size: 9px;
  font-weight: 300;
  line-height: 1.1;
}

#rmd_about {
  font-size: 14px;
  line-height: 1.1;
}

#rmd_credits {
  font-size: 12px;
  line-height: 1.1;
}





